In [2]:
import pandas as pd

In [3]:
owid_covid = pd.read_csv("https://covid.ourworldindata.org/data/owid-covid-data.csv")

In [4]:
owid_covid.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

Process data with "France" Location.

In [9]:
owid_covid["date"] = pd.to_datetime(owid_covid["date"])
df = owid_covid[owid_covid.location == "France"].set_index("date", drop=True).resample('D').interpolate(method='linear')

In [10]:
df.head()

,iso_code,continent,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
date,,,,,,,,,,,,,,,,,,,,,
2020-01-03,FRA,Europe,France,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,35.6,NaN,5.98,82.66,0.901,67813000.0,NaN,NaN,NaN,NaN
2020-01-04,FRA,Europe,France,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,35.6,NaN,5.98,82.66,0.901,67813000.0,NaN,NaN,NaN,NaN
2020-01-05,FRA,Europe,France,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,35.6,NaN,5.98,82.66,0.901,67813000.0,-1002.200000,-7.290000,-7.290000,-15.542791
2020-01-06,FRA,Europe,France,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,35.6,NaN,5.98,82.66,0.901,67813000.0,-1096.085714,-7.107143,-6.925714,-16.998834
2020-01-07,FRA,Europe,France,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,35.6,NaN,5.98,82.66,0.901,67813000.0,-1189.971429,-6.924286,-6.561429,-18.454877

In [26]:
from greykite.framework.templates.autogen.forecast_config import (
    ForecastConfig, MetadataParam
)

metadata=MetadataParam(
    time_col="date",
    value_col="new_cases",
    freq="D"
)

Create the forecast object.

In [5]:
import warnings
#from greykite.framework.templates.forecaster import Forecaster
#from greykite.framework.templates.model_templates import ModelTemplateEnum

In [ ]:
forecaster=Forecaster()
warnings.filterwarnings("ignore", category=UserWarning)
result=forecaster.run_forecast_config(
    df=df.reset_index(),
    config=ForecastConfig(
        model_template=ModelTemplateEnum.SILVERKITE_DAILY_90.name,
        forecast_horizon=90,
        coverage=0.95,
        metadata_param=metadata,
    )
)

In [ ]:
forecast=result.forecast
forecast.plot().show(renderer="colab")